<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.ico') }}" type="image/x-icon" />

    <meta property="og:title" content="Sweeter - the sweetest site" />
    <meta property="og:description" content="Are you looking for me" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweeter | The Sweetest</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title has-text-white">Secret page</p>
            <p class="subtitle has-text-white">You need to be logged in to see this</p>
            <p class="subtitle has-text-white">{{ user_info.profile_name }}</p>
        </div>
    </section>
</body>

</html>